.form {
    padding: 5rem;
}

body {
    /* background-image: url('/images/hugging-romance-icon.svg'); */
    /* background-image: linear-gradient(to left,#42275a, #734b6d) */
    /* background-color: blue; */
    background-image: url('./images/love.jpeg') !important;
    background-repeat: no-repeat;
    background-size: 500%;
    /* background-position-x:right; */

}

.flames-form {
    width: 30rem !important;
    height: 30rem;
    margin-top: 10rem;
    padding: 3rem 0 0 5rem;
    background-color: palevioletred !important;
    color: springgreen;
    margin-right: 1rem;
    position:absolute;
    top:2rem;
    left:20rem;
}

.crd
{
    position:absolute;
    top:90px;
    height: 100rem;
    width:40rem;
    background-color:rgba(255, 0, 0, 0.13);
}

h1
{
    color:hotpink;
    font-size: 2rem!important;
    padding:1rem 0 0 5rem;
}
.response-btn
{
    display: none !important;
}

.love-tips
{
    position: absolute;
    top:-5rem;
}

.list
{
    max-width:40rem;  
    color:ghostwhite;
}

.list
{
    
    list-style-type:square !important;
    font-size: 1.2rem !important;
}

@media only screen and (max-width: 1155px) {
   
    .flames-form
    {
        display: none !important;
    }
    .love-tips
    {
        top:0;
    }
    .response-btn
    {
        display: inline-block !important;
    }
   
    .flames-form
    {
        width: 30rem !important;
        height: 30rem;
        margin-top: 10rem;
        padding: 3rem 0 0 5rem;
        background-color: palevioletred !important;
        color: springgreen;
        margin-right: 1rem;
        position:absolute;
        top:2rem;
        left:5rem;
    }
  }
@media only screen and (max-width:613px)
{
   
    .flames-form
    {
        width: 30rem !important;
        height: 30rem;
        margin-top: 10rem;
        padding: 3rem 0 0 5rem;
        background-color: palevioletred !important;
        color: springgreen;
        margin-right: 1rem;
        position:absolute;
        top:2rem;
        left:3rem;
    }
}

@media only screen and (max-width:535px)
{
    
    .flames-form
    {
        width: 25rem !important;
        height: 20rem;
        margin-top: 10rem;
        padding: 3rem 0 0 5rem;
        background-color: palevioletred !important;
        color: springgreen;
        margin-right: 1rem;
        position:absolute;
        top:2rem;
        left:0;
    }
}

